:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;

  --fs-xl: 3.6rem;
  --fs-l: clamp(1.8rem, 3vw, 3.2rem);
  --fs-m: clamp(1.4rem, 2.5vw, 2.4rem);
  --fs-s: clamp(1rem, 2vw, 1.6rem);
  --fs-xs: clamp(0.8rem, 1.5vw, 1.2rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: rgb(var(--foreground-rgb));
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}
